<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cwcn_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cwcn_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CWCN">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CWCN.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.developer.DeveloperToolsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.qso.QsoLogbookActivity"
            android:exported="false" />
        <activity
            android:name=".ui.operate.OperateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.spectrum.SpectrumActivity"
            android:exported="false" />
        <activity
            android:name=".ui.qso.QsoEditorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tx.TxTemplateListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tx.TxTemplateEditorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tx.TxActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rig.RigSetupActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".ui.debug.InputDebugActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logbook_share_paths" />
        </provider>
    </application>

</manifest>
